<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61C1A6BC1D48F1F8007699DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61C1A6D51D48F1F9007699DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61C1A6E01D48F1F9007699DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
